# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
selenium_env/

# Behave
.pytest_cache/
.behave/

# Allure
allure-results/
allure-report/

# Logs
logs/*.log

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

pretty.output